body {
  background: azure;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: deepskyblue;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

header {

background-color: white;
display: block;
align-items: center;
margin: 20px;
box-shadow: inset;
box-shadow:2px 2px 3px 0px rgba(0,0,0,0.30);
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-style: italic;


}
.profile-pic {
    height: 200px;
    width: 200px;
    margin: 30px 50%;
    border-radius: 50%;
	border-style: groove;

}

.my-name {
  
    margin: 10px 20px;
	font-size: large;
	font-weight:900;
  
	
}

.about-me {
 
    margin: 50px 25px;
    border-radius: 50%;
	
}
.contact-me {

    margin: 50px 20%;
	padding-bottom: 50px;
   
	
}

.fav-btns {

	background-color: yellow;
	height: 50px;
	margin: 50px 7px;
	display: flexbox;
	border-color: darkblue;
	border-radius: 10px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	
}

button:hover {
	background-color: lightpink;
}

.back-pic {
	margin: 50px;
	height: 200px;
	width: 600px;
	border-radius: 50%;
}

h1 {
	position: center;
	align-content:space-between;
	color: deepskyblue;
}